body {
	background: #3e3e43 url(../img/nd/bg-body.jpg) top left repeat-x;
}

p {
	margin-left: 1.2em;
	margin-right: 0.8em;
}

h2 {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

h3 {
	margin-left: 2.7em;
}


#wrapper {
	text-align: left;	
}

#langbar {
	text-align: right;
}

#header {
	background: transparent url(../img/nd/bg-header.png) top left no-repeat;
}

#downloadbar {
	padding-left: 15px;
}

.download a {
	float: left;
}

.linux a, .appimage a {
	background: transparent url(../img/nd/dl-linux.png) top left no-repeat;
}

.macosx a {
	background: transparent url(../img/nd/dl-macosx.png) top left no-repeat;
}

.windows a {
	background: transparent url(../img/nd/dl-windows.png) top left no-repeat;
}

.ubuntu a {
        background: transparent url(../img/nd/dl-ubuntu.png) top left no-repeat;
}

.beta a {
        background: transparent url(../img/nd/dl-beta.png) top left no-repeat;
}

.pdf a {
	background: transparent url(../img/nd/dl-pdf.png) top left no-repeat;
}

.nopdf a {
	background: transparent url(../img/nd/dl-nopdf.png) top left no-repeat;
}

#additional {
	padding-left: 10px;
}


#latestversion {
	text-align: right;
}

#home {
	background: transparent url(../img/nd/bg-descr.jpg) top left repeat-x;
}

#home-media {
	background: transparent url(../img/slideshow/large-slideshow-bar.png) top left no-repeat;
}

div.slide-item h2 {
	left: 0;
}

#thumbs li {
	display: block;
	margin: 0 8px 0 0;
	background: transparent url(../img/slideshow/thumbs/thumbback.png) bottom right no-repeat!important;
	background: none;
	padding: 2px 6px 5px 0;
	float: left;
	position: relative;
}

#thumbs li.last {
	margin-right:0;
	padding-right:0.4em;
}

#thumbs {
	background: transparent url(../img/slideshow/large-slideshow-bar.png) top left repeat-y;
	padding: 0 0 0 8px;
}

#description {
	padding: 8px 8px 8px 3px;
	float: right;
}

a.read-more {
	margin: 0 15px 0 0;
	right: 5px;
}

#content {
	background: #2D2E40 url(../img/nd/bg-d.jpg) top left repeat-x;
}

#content ol {
	margin-right: 1em;	
}

#footer {
	text-align: right;
}

.smalllist li {
	margin-right: 1em;
}

.largelist li {
	margin-left: 1.4em;
	padding-left: 0.4em;
}

.sublist {
	margin-left: -2.2em;
}

.sublist li {
	margin-left: -1.3em;
	padding-left: 0em;
}

#news, 
#collaborate, 
#requirements {
	background: #434552 url(../img/nd/bg-l.jpg) top left repeat-x;
}

#news li {
	margin-right: 1em;
}

span.newsdate, 
span.newstitle {
	margin-left: 12px;
}

.feed {
	text-align: right;
}

.newsdate {
	margin-right: 1.5em;
}

