body {
	background-image: url(http://www.stellarium.org/img/bgpage.jpg);
	background-repeat: repeat-x;
	background-color: #3e3e43;
	margin: 0;
	font-size: 16px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

a {
	color: #818895;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

p {
	font-size: 0.7em;
	line-height: 1.6em;
	margin-left: 1.2em;
	margin-right: 0.8em;
	margin-bottom: 1em;
}

h2 {
	border-bottom: solid 1px #818895;
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-size: 1.4em;
	font-weight: normal;
	margin-top: 1em;
	line-height: 1.4em;
}

h3 {
	margin-left: 2.7em;
	font-size: 0.7em;
	font-weight: normal;
	margin-bottom: -1.3em;
}

.warning-lng{
	font-size: 0.6em;
	font-weight: normal;
	position: relative;
	top: -0.5em;
	color: #000000;
}

#header {
	margin: 0px;
	padding: 0px;
	height: 5.8em;
	width: 100%;
	background-image: url(http://www.stellarium.org/img/bg-header.jpg);
	background-position: 2% 100%;
	background-repeat: no-repeat;
	background-color: #6B737E;
}

#header h1 {
	display: none;
}

#wrap {
	max-width: 55em;
	margin: auto;
	width:expression(document.body.clientWidth > 900? "55em" : "auto");
	background-image: url(http://www.stellarium.org/img/bg-description.jpg);
	background-repeat: repeat-x;
	background-position: 0px 90px;
	background-color: #8a9096;
}

#topbar {
}

#content{
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
	background-image: url(http://www.stellarium.org/img/bg-left-right.jpg);
	background-repeat: repeat-x;
	background-color: #2D2E40;
	overflow: hidden;
}

#left {
	padding: 0;
	margin: 0;
	left: 0px;
	float: left;
	width: 33%;
}

#description {
	width: 65%;
	margin: 0;
	padding: 0;
	left: 0px;
	float: left;
}

#previewscreen {
	float: right;
	margin-right: 0.5em;
	border: 0px;
	position: relative;
	margin-top: -3.2em;
	margin-left: 0.2em;
	z-index: 1;
}

#desctext {
	color: #313439;
	font-size: 1em;
	line-height: 1.5em;
	vertical-align: middle;
	margin-left: 0.9em;
	margin-top: 0.8em;
}

#desctext a{
	color: #313439;
	font-style: italic;
	font-weight: bold;
}

#desctext a:hover{
	text-decoration: underline;
}

#desctext span {
	text-align: right;
	display: block;
}

#screen {
	float: right;
	clear: none;
}

#relativecenter{
	margin: 0 auto;
	height: 15em;
}

#thumbs {
	margin: 0 auto;
	text-align: center;
	width: 48em;
	position: relative;
	top: 1.8em;
}

#thumbs h1{
	display: none;
}

.thumb {
	border: none;
	margin: 0.4em;
}

#bigDynPic {
	margin:0 auto;
	position:absolute;
	width:100%;
	top: 17em;
	text-align:center;
	}

#fullsize{
	height: 40em;
}

#frame{
width: 100%;
height:100%}

#features {
}

#version{
	font-weight: bold;
	font-size: 1.2em;
}

#features li {
	font-size: 0.7em;
	line-height: 1.6em;
	margin-right: 1em;
}

.largelist {
	font-size: 1em;
	line-height: 1.4em;
	font-weight: bold;
}

.largelist li {
	background-image: url(http://www.stellarium.org/img/largelist-bullet.gif);
	background-repeat: no-repeat;
	background-position: center left;
	list-style-type: none;
	padding-left: 1.8em;
}

.largelist a:hover{
	text-decoration: none;
	color: #FFE67D;
}

#center {
	margin: 0;
	padding: 0;
	float: left;
	background-image: url(http://www.stellarium.org/img/bg-news.jpg);
	background-repeat: repeat-x;
	background-color: #434552;
	width: 33%;
	height: 100%;
}

.newstitle {
	font-weight:bold;
	font-size:1.1em;
}

#xmllink ,#xmllink a, #xmllink a:hover{
	border:1px solid;
	border-color:#FC9 #630 #330 #F96;
	padding:0 3px;
	font:bold 10px verdana,sans-serif;
	color:#FFFFFF;
	background:#F60;
	text-decoration:none;
	color:#FFFFFF;
	text-decoration:none;
}

.feed {
	text-align: right;
}

.newsdate{
	font-weight: bold;
	color: #131417;
	margin-right: 1.5em;
}

#wiki {
	padding-bottom: 10em;
	padding-top: 0.2em;
	background-color: rgb(38, 34, 57);
}

#wikitop {
	padding-bottom: 28em;
}

#right {
	right: 0px;
	top: 0px;
	margin: 0;
	padding: 0;
	float: left;
	width: 33%;
}

#downloads {
	width: 34%;
	height: 15em;
	top: 0px;
	float: right;
}

#downloads h2 {
	display:none;
}

.download {
	background-color: #373B44;
	background-image: url(http://www.stellarium.org/img/bg-download.jpg);
	background-repeat: repeat-x;
	height: 25%;
}

.download a,.download a:hover {
	text-decoration:none;
}

.downloadimg{
	border: none;
	position: relative;
	top: 10px;
	left: 25px;
}

.downloadlink {
	font-weight:bold;
	text-decoration:none;
	margin-left: 2.3em;
	position: relative;
	top: -0.1em;
}

#development {
}

#languages {
	clear: both;
	text-align: center;
	background-color: #3d3e42;
	padding-top: 0.7em;
	font-size: 0.6em;
	padding-bottom: 1.6em;
}

#translate {
	color: #FFFFFF;
}

#footer {
	text-align: right;
	background-color: #3d3e42;
}
