.DS_Store
files/landscapes/
_site
.jekyll-metadata

stellarium.github.io.config
stellarium.github.io.creator
stellarium.github.io.files
stellarium.github.io.includes
stellarium.github.io.creator.user
