RewriteEngine on
# RewriteRule ^wiki/.* /wiki_off.html
RewriteRule ^features_in_0.10.0.php /articles/features_in_0.10.0/index.php
RewriteRule ^top_new_features.php /articles/features_in_0.10.0/index.php
RewriteRule ^\.bzr\/ /error.html
