RewriteEngine on
# RewriteRule ^wiki/.* /wiki_off.html
RewriteRule ^features_in_0.10.0.php /articles/features_in_0.10.0/index.php
RewriteRule ^top_new_features.php /articles/features_in_0.10.0/index.php
RewriteRule ^\.bzr\/ /error.html

# redirect old pages to new pages
RewriteRule ^screenshots\.html$	/screenshots.php [R=permanent]
RewriteRule ^sponsors\.html$	/sponsors.php [R=permanent]

# Redirect to the MPC website for the Solar System editor search
Redirect temp /mpc-mpeph http://scully.cfa.harvard.edu/cgi-bin/mpeph2.cgi

# Localized versions of Stellarium website
#RewriteCond %{ENV:REDIRECT_FINISH} !^$
#RewriteRule ^ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/doc*
RewriteRule ^([a-z]{2})_([a-z]{2})/([a-z]+)\.php$	/$3.php?lang=$1_$2	[NC,QSA]
RewriteRule ^([a-z]{2})_([a-z]{2})([\/]{0,1})$		/index.php?lang=$1_$2	[NC,QSA]
RewriteRule ^([a-z]{2,3})/([a-z]+)\.php$		/$2.php?lang=$1		[NC,QSA]
RewriteRule ^([a-z]{2,3})([\/]{0,1})$			/index.php?lang=$1	[NC,QSA]
#RewriteRule ^([a-z]{2})([\/]{0,1})$			/index.php?lang=$1	[E=FINISH:1,NC,QSA]



