<div id="header">
  <div id="latestversion" class="block"><a href="/{{ site.lang }}/">{% include tr.html s="latest version is" %} {{ site.version }}</a></div>
  <div id="downloadbar" class="block">
    <div id="release" class="block">
      <div class="download linux">
          <a href="http://sourceforge.net/projects/stellarium/files/Stellarium-sources/{{ site.version }}/stellarium-{{ site.version }}.tar.gz/download">Linux<span>({% include tr.html s="source" %})</span></a>
      </div>
      <div class="download macosx">
          <a href="http://sourceforge.net/projects/stellarium/files/Stellarium-MacOSX/{{ site.version }}/Stellarium-{{ site.version }}.1.dmg/download">Mac OS X<span>10.11+; {% include tr.html s="64 bit" %}</span></a>
      </div>
      <div class="download windows">
          <a href="http://sourceforge.net/projects/stellarium/files/Stellarium-win32/{{ site.version }}/stellarium-{{ site.version }}-win32.exe/download">Windows<span>{% include tr.html s="32 bit" %}</span></a>
      </div>
      <div class="download windows">
          <a href="http://sourceforge.net/projects/stellarium/files/Stellarium-win64/{{ site.version }}/stellarium-{{ site.version }}-win64.exe/download">Windows<span>{% include tr.html s="64 bit" %}</span></a>
      </div>
      <div class="download ubuntu">
          <a href="https://launchpad.net/~stellarium/+archive/stellarium-releases">Ubuntu<span>{% include tr.html s="latest stable release" %}</span></a>
      </div>
      <div class="download beta">
          <a href="https://launchpad.net/stellarium/trunk/{{ site.next_version }}">{% include tr.html s="Beta" %} <span>{{ site.next_version }}</span></a>
      </div>
      <div class="download pdf guide">
          <a href="http://sourceforge.net/projects/stellarium/files/Stellarium-user-guide/{{ site.guide_version }}/stellarium_user_guide-{{ site.guide_version }}.pdf/download"><span>{% include tr.html s="User Guide" %}</span> <span>{{ site.guide_version }}</span></a>
      </div>
    </div>
  </div>
</div>
