---
---
{% include i18n.html %}
<div id="home">
  <div id="home-describe" class="block">
    <p>{% include tr.html s="Stellarium is a free open source planetarium for your computer. It shows a realistic sky in 3D, just like what you see with the naked eye, binoculars or a telescope." %}</p>
    <p>{% include tr.html s="It is being used in planetarium projectors. Just set your coordinates and go." %}</p>
  </div>

  <script type="text/javascript" src="/js/jq-ui-flplayer-sw-aggregated.js"></script>
  <div class="block">
    <div id="home-media">
      <div class="slide-item first">
        <img src="/img/slideshow/slide-1.jpg" class="photo" alt='{% include tr.html s="A shooting star flashes past the Jupiter. You can select different intensities in the View window." %}' />
        <h2></h2>
        <div class="slide-desc">
          <p>{% include tr.html s="A shooting star flashes past the Jupiter. You can select different intensities in the View window." %}</p>
          <a href="screenshots.html" class="read-more">{% include tr.html s="view screenshots" %} &raquo;</a>
        </div>
      </div>

      <div class="slide-item">
        <img src="/img/slideshow/slide-2.jpg" class="photo" alt='{% include tr.html s="The great nebula in Orion. Press N to bring up the nebula labels. Also shown are constellation lines, press C to show or hide them." %}'/>
        <h2></h2>
        <div class="slide-desc">
          <p>{% include tr.html s="The great nebula in Orion. Press N to bring up the nebula labels." %}</p>
          <a href="screenshots.html" class="read-more">{% include tr.html s="view screenshots" %} &raquo;</a>
        </div>
      </div>
      <div class="slide-item">
        <img src="/img/slideshow/slide-3.jpg" class="photo" alt='{% include tr.html s="The dance of the planets above ESO headquarters, near Munich." %}'/>
        <h2></h2>
        <div class="slide-desc">
          <p>{% include tr.html s="The dance of the planets above ESO headquarters, near Munich." %}</p>
          <a href="screenshots.html" class="read-more">{% include tr.html s="view screenshots" %} &raquo;</a>
        </div>
      </div>

      <div class="slide-item">
        <img src="/img/slideshow/slide-4.jpg" class="photo" alt='{% include tr.html s="Full sky view of the constellations, their boundaries, the Milky Way." %}'/>
        <h2></h2>
        <div class="slide-desc">
          <p>{% include tr.html s="Full sky view of the constellations, their boundaries, the Milky Way." %}</p>
          <a href="screenshots.html" class="read-more">{% include tr.html s="view screenshots" %} &raquo;</a>
        </div>
      </div>

      <div class="slide-item">
        <img src="/img/slideshow/slide-5.jpg" class="photo" alt='{% include tr.html s="Constellation art turned on." %}'/>
        <h2></h2>
        <div class="slide-desc">
          <p>{% include tr.html s="Constellation art turned on." %}</p>
          <a href="screenshots.html" class="read-more">{% include tr.html s="view screenshots" %} &raquo;</a>
        </div>
      </div>',

      <div id="thumbs">
        <div id="description"><p>{% include tr.html s="Click on the picture to the left for details." %}</p></div>
        <ul>
          <li><a href="screenshots.html"><img src="/img/slideshow/thumbs/thumb-1.jpg" width="40" height="40" alt="Slide 1" title="Slide 1"/></a></li>
          <li><a href="screenshots.html"><img src="/img/slideshow/thumbs/thumb-2.jpg" width="40" height="40" alt="Slide 2" title="Slide 2"/></a></li>
          <li><a href="screenshots.html"><img src="/img/slideshow/thumbs/thumb-3.jpg" width="40" height="40" alt="Slide 3" title="Slide 3"/></a></li>
          <li><a href="screenshots.html" ><img src="/img/slideshow/thumbs/thumb-4.jpg" width="40" height="40" alt="Slide 4" title="Slide 4"/></a></li>
          <li class="last"><a href="screenshots.html"><img src="/img/slideshow/thumbs/thumb-5.jpg" width="40" height="40" alt="Slide 5" title="Slide 5"/></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
