---
layout: default
title: Stellarium Astronomy Software
---
{% include i18n.html %}
{% include home.html %}

<div id="content">
  <div id="features" class="block">
    <h2>{% include tr.html s="features" %}</h2>

    <h3>{% include tr.html s="sky" %}</h3>
    <ul class="smalllist">
      <li>{% include tr.html s="default catalogue of over 600,000 stars" %}</li>
      <li>{% include tr.html s="extra catalogues with more than 220 million stars" %}</li>
      <li>{% include tr.html s="default catalogue of over 80,000 deep-sky objects" %}</li>
      <li>{% include tr.html s="extra catalogue with more than 1 million deep-sky objects" %}</li>
      <li>{% include tr.html s="asterisms and illustrations of the constellations" %}</li>
      <li>{% include tr.html s="constellations for 40+ different cultures" %}</li>
      <li>{% include tr.html s="calendars of 35+ different cultures" %}</li>
      <li>{% include tr.html s="images of nebulae (full Messier catalogue)" %}</li>
      <li>{% include tr.html s="realistic Milky Way" %}</li>
      <li>{% include tr.html s="very realistic atmosphere, sunrise and sunset" %}</li>
      <li>{% include tr.html s="full 6D astrometry for bright stars" %}</li>
      <li>{% include tr.html s="modelling movement for various of binary stars" %}</li>
      <li>{% include tr.html s="the planets and their satellites" %}</li>
      <li>{% include tr.html s="all-sky surveys (DSS, HiPS)" %}</li>
    </ul>

    <h3>{% include tr.html s="interface" %}</h3>
    <ul class="smalllist">
      <li>{% include tr.html s="a powerful zoom" %}</li>
      <li>{% include tr.html s="time control" %}</li>
      <li>{% include tr.html s="multilingual interface" %}</li>
      <li>{% include tr.html s="scripting interface" %}</li>
      <li>{% include tr.html s="fisheye projection for planetarium domes" %}</li>
      <li>{% include tr.html s="spheric mirror projection for your own low-cost dome" %}</li>
      <li>{% include tr.html s="graphical interface and extensive keyboard control" %}</li>
      <li>{% include tr.html s="HTTP interface (web-based control, remote control API)" %}</li>
      <li>{% include tr.html s="telescope control" %}</li>
    </ul>

    <h3>{% include tr.html s="visualisation" %}</h3>
    <ul class="smalllist">
      <li>{% include tr.html s="several coordinate grids" %}</li>
      <li>{% include tr.html s="precession circles" %}</li>
      <li>{% include tr.html s="star twinkling" %}</li>
      <li>{% include tr.html s="shooting stars" %}</li>
      <li>{% include tr.html s="tails of comets" %}</li>
      <li>{% include tr.html s="eclipse simulation" %}</li>
      <li>{% include tr.html s="supernovae and novae simulation" %}</li>
      <li>{% include tr.html s="exoplanet locations" %}</li>
      <li>{% include tr.html s="ocular view simulation" %}</li>
      <li>{% include tr.html s="3D sceneries" %}</li>
      <li>{% include tr.html s="skinnable landscapes with spheric panorama projection" %}</li>
    </ul>

    <h3>{% include tr.html s="customizability" %}</h3>
    <ul class="smalllist">
      <li>{% include tr.html s="plugin system adding artifical satellites, ocular simulation, telescope control and more" %}</li>
      <li>{% include tr.html s="ability to add new solar system objects from online resources..." %}</li>
      <li>{% include tr.html s="add your own deep sky objects, landscapes, constellation images, scripts..." %}</li>
    </ul>
  
    <h2>{% include tr.html s="presentations" %}</h2>
    <ul class="smalllist">
      <li>{% include tr.html s="Susanne M. Hoffmann gave a <a href='https://www.youtube.com/watch?v=JF3Fy1iQfWE' target='_blank'>public lecture &quot;Painting Babylonian - Constellations of Ancient Mesopotamia&quot; (YouTube)</a> for the <a href='https://hk.space.museum/en/web/spm/home.html'>HK Space Museum</a> on November 22th, 2024" %}</li>
      <li>{% include tr.html s="A. Wolf gave a <a href='https://rutube.ru/video/792ee7ab639739c902a9e69471729f32/' target='_blank'>common review of Stellarium's features (RuTube)</a> for the <a href='https://astroteacher.ru'>Open distance methodological seminar for teachers of astronomy and astropedagogues</a> on November 20th, 2024" %}</li>
      <li>{% include tr.html s="G. Zotti gave a <a href='https://www.youtube.com/watch?v=H9WXLDzbFYU' target='_blank'>presentation about Virtual Archaeoastronomy with Stellarium (YouTube)</a> for the <a href='https://scaas.org'>Society for Cultural Astronomy in the American Southwest (SCAAS)</a> on February 25th, 2023" %}</li>
      <li>{% include tr.html s="A. Wolf gave a <a href='https://www.youtube.com/watch?v=mx7waXJ3v_Q&t=4724s' target='_blank'>presentation about Stellarium 1.0 (YouTube)</a> at the <a href='https://sibastro.ru/report/uindex?year=2022'>Siberian Astronomical Forum SibAstro 2022</a> on September 25th, 2022" %}</li>
      <li>{% include tr.html s="A. Wolf gave a <a href='https://www.youtube.com/watch?v=wlmTv28USvY' target='_blank'>presentation about Stellarium &mdash; key changes in the last 5 years (YouTube)</a> at the <a href='https://sibastro.ru/report/uindex?year=2021'>Siberian Astronomical Forum SibAstro 2021</a> on September 25th, 2021" %}</li>
      <li>{% include tr.html s="G. Zotti gave a <a href='https://www.youtube.com/watch?v=FNdLMYwBgA4' target='_blank'>presentation about Stellarium (YouTube)</a> for the <a href='https://nadc.china-vo.org/article/20210105092323'>China-VO (Virtual Observatory of the Chinese Academy of Sciences)</a> on February 1st, 2021" %}</li>
      <li>{% include tr.html s="G. Zotti gave an <a href='https://www.youtube.com/watch?v=uJBu_7qOSqQ' target='_blank'>invited talk (YouTube)</a> at the <a href='http://sion.frm.utn.edu.ar/iaus367/index.php/georg-zotti/'>IAU Symposium 367</a> on December 9th, 2020" %}</li>
      <li>{% include tr.html s="G. Zotti gave a <a href='https://www.youtube.com/watch?v=7QdENQLx8FE' target='_blank'>talk about creating 3D sceneries (YouTube)</a> at the <a href='https://dougsarchaeology.wordpress.com/2017/10/02/visualising-skyscapes-material-forms-of-cultural-engagement-with-the-heavens/'>TAG2016 Skyscapes session</a> on December 20th, 2016" %}</li>
    </ul>
  </div>

  <div id="requirements" class="block">
    <h2>{% include tr.html s="news" %}</h2>
    <ul class="smalllist">
      {% assign sorted = site.posts | sort: 'date' %}
      {% assign sorted2 = sorted | reverse %}
      {% for post in sorted2 %}
        {% if forloop.index < 11 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>

    <h2>{% include tr.html s="system requirements" %}</h2>

    <h3>{% include tr.html s="minimal" %}</h3>
    <ul class="smalllist">
      <li>{% include tr.html s="64-bit operating system" %}</li>
      <li>{% include tr.html s="Linux/Unix; Windows 7 and above; macOS 10.13 and above" %}</li>
      <li>{% include tr.html s="3D graphics card which supports OpenGL 2.1 and GLSL 1.3 or OpenGL ES 2.0" %}</li>
      <li>{% include tr.html s="512 MiB RAM" %}</li>
      <li>{% include tr.html s="600 MiB on disk" %}</li>
      <li>{% include tr.html s="Keyboard" %}</li>
      <li>{% include tr.html s="Mouse, Touchpad or similar pointing device" %}</li>
    </ul>

    <h3>{% include tr.html s="recommended" %}</h3>
    <ul class="smalllist">
      <li>{% include tr.html s="64-bit operating system" %}</li>
      <li>{% include tr.html s="Linux/Unix; Windows 10 and above; macOS 11.0 and above" %}</li>
      <li>{% include tr.html s="3D graphics card which supports OpenGL 3.3 and above" %}</li>
      <li>{% include tr.html s="1 GiB RAM or more" %}</li>
      <li>{% include tr.html s="1.5 GiB on disk" %}</li>
      <li>{% include tr.html s="Keyboard" %}</li>
      <li>{% include tr.html s="Mouse, Touchpad or similar pointing device" %}</li>
      <li>{% include tr.html s="Moderately dark environment (deep shadow or indoors)" %}</li>
    </ul>

    <h2>{% include tr.html s="developers" %}</h2>
    <p>
      {% include tr.html s="Project coordinator:" %} <a href="http://f4bien.blogspot.com/">Fabien Ch&eacute;reau</a><br/>
      {% include tr.html s="Graphic designer:" %} Mart&iacute;n Bernardi<br/>
      {% include tr.html s="Developers:" %} <a href="http://astro.altspu.ru/~aw/">Alexander V. Wolf</a>, <a href="https://homepage.univie.ac.at/Georg.Zotti/">Georg Zotti</a>, <a href="https://blog.noctua-software.com/">Guillaume Ch&eacute;reau</a>, Ruslan Kabatsayev, Worachate Boonplod, Henry Leung<br/>
      {% include tr.html s="Sky cultures researcher:" %} <a href="https://scilogs.spektrum.de/uhura-uraniae/author/hoffmann/">Susanne M. Hoffmann</a><br/>
      {% include tr.html s="Collaborators:" %} Jocelyn Girod 
      <a href="https://github.com/Stellarium/stellarium/graphs/contributors">{% include tr.html s="and everyone else in the community" %}</a>.<br/>
    </p>
    
    <h2>{% include tr.html s="financial support" %}</h2>
    <p>
      {% include tr.html s="Many individuals and organizations are supporting the development of Stellarium by donations, and the most generous financial contributors (with donations of $250 or more) are" %} 
      BairesDev, Daniel, Laurence Holt, Astronomie-Werkstatt &quot;Sterne ohne Grenzen&quot;, Bryan, Dotcom-Monitor, John Bellora, Marla Pinaire, Jeff Moe (Spacecruft), SSSTwitter, 
      Peter Reigber, Incognito, Michel Payette, Vernon Hermsen, Triplebyte, 
      Satish Mallesh, Vlad Magdalin, Philippe Renoux, Fito Martin. 
    </p>

    <h2>{% include tr.html s="silver sponsors" %}</h2>
    <p>
      <a href="https://www.bairesdev.com/sponsoring-open-source-projects/"><img src="/img/logos/BairesDev.png" width="300" border="0" alt="BairesDev logo"></a><br />
      <a href="https://litslink.com/"><img src="/img/logos/LITSLINK_logo_white.svg" width="300" border="0" alt="LITSLINK logo"></a><br />
      <!--a href="https://www.dotcom-monitor.com/sponsoring-open-source-projects/"><img src="/img/logos/DCM-Logo-54.png" width="300" border="0" alt="dotcom-monitor logo"></a><br /-->
    </p>
  </div>

  <div id="development" class="block">
    <h2>{% include tr.html s="collaborate" %}</h2>
    <p>{% include tr.html s="You can learn more about Stellarium, get support and help the project from these links" %}:</p>
    <ul class="largelist">
      <li><a href="https://github.com/Stellarium/stellarium/discussions">{% include tr.html s="discussions" %}</a></li>
      <li><a href="https://groups.google.com/group/stellarium">{% include tr.html s="mailing list" %}</a></li>
      <li><a href="{{ site.wiki_url }}/">{% include tr.html s="wiki" %}</a></li>
      <li><a href="{{ site.wiki_url }}/FAQ">{% include tr.html s="FAQ" %}</a></li>
      <li><a href="./scripts.html">{% include tr.html s="scripts" %}</a></li>
      <li><a href="./landscapes.html">{% include tr.html s="landscapes" %}</a></li>
      <li><a href="./scenery3d.html">{% include tr.html s="3D sceneries" %}</a></li>
      <li><a href="./skycultures.html">{% include tr.html s="sky cultures" %}</a></li>
      <li><a href="/{{ lang }}/docs.html">{% include tr.html s="developers documentation" %}</a></li>
      <li><a href="/doc/{{ site.series }}/scripting.html">{% include tr.html s="scripting" %}</a></li>
      <li><a href="https://app.transifex.com/stellarium/stellarium/dashboard/">{% include tr.html s="translations" %}</a></li>
      <li><a href="https://github.com/Stellarium/stellarium">{% include tr.html s="get support, report bugs, request new features" %}</a></li>
      <li><a href="https://github.com/Stellarium/stellarium/releases">{% include tr.html s="all releases" %}</a>
      <li><a href="/guide/">{% include tr.html s="user guide" %}</a> (<a href="/files/guide.pdf">PDF</a>)</li>
      <li><a href="https://github.com/Stellarium/stellarium-data/releases/tag/weekly-snapshot">{% include tr.html s="weekly snapshots" %}</a>
      <li><a href="https://launchpad.net/~stellarium">{% include tr.html s="ppa for ubuntu linux" %}</a>
      <li><a href="http://dss.stellarium.org/stellarium/">{% include tr.html s="archive" %}</a>
    </ul>

    <h2>{% include tr.html s="acknowledgment" %}</h2>
    <p>{% include tr.html s="If the Stellarium planetarium was helpful for your research work, please cite the following paper in your acknowledgment:" %}</p>
    <p><em>{% include tr.html s="This research has made use of the Stellarium planetarium" %}</em></p>
    <ul class="smalllist">
      <li>Zotti, G., Hoffmann, S. M., Wolf, A., Chéreau, F., & Chéreau, G. (2021). The Simulated Sky: Stellarium for Cultural Astronomy Research. Journal of Skyscape Archaeology, 6(2), 221–258. <a href='https://doi.org/10.1558/jsa.17822'>DOI: 10.1558/jsa.17822</a></li>
    </ul>
    <p>{% include tr.html s="Or you may <a href='/files/stellarium.bib'>download the BibTeX file of the paper</a> to create another citation format." %}</p>
    <p>{% include tr.html s="Please note that the software has several releases since these fundamentals were published:" %}</p>
    <ul class="smalllist">
      <li>Stellarium contributors ({{ site.doi_year }}). Stellarium v{{ site.version }} Astronomy Software. URL https://stellarium.org/. <a href='https://doi.org/{{ site.doi }}'>DOI: {{ site.doi }}</a></li>
      <li>Zotti, G., Wolf, A. (2022). Stellarium: Finally at Version 1.0! And Beyond. Journal of Skyscape Archaeology, 8(2), 332–334. <a href='https://doi.org/10.1558/jsa.25608'>DOI: 10.1558/jsa.25608</a></li>
    </ul>


    <h2>{% include tr.html s="git" %}</h2>
    <p>{% include tr.html s="The latest development snapshot of Stellarium is kept on github. If you want to compile development versions of Stellarium, this is the place to get the source code." %}</p>
    <ul class="largelist">
      <li><a href="https://github.com/Stellarium/stellarium">{% include tr.html s="browse GitHub" %}</a></li>
    </ul>

    <h2>{% include tr.html s="books" %}</h2>
    <p>{% include tr.html s="Documentation and description of the sky cultures, state March 2022, plus a lot of additional research" %}:</p>
    <ul class="smalllist">
      <li>{% include tr.html s="Hoffmann, S. and Wolfschmidt, G. (2022, eds.). <a href='https://shop.tredition.com/booktitle/Astronomy_in_Culture_--_Cultures_of_Astronomy__Astronomie_in_der_Kultur_--_Kulturen_der_Astronomie_/W-407-831-795' target='_blank'>Astronomy in Culture - Cultures of Astronomy</a>, Featuring the Proceedings of a splinter meeting in the German Astronomical Society. tredition, Ahrensburg."  %}</li>
    </ul>
    
    <!--
    <h2>{% include tr.html s="irc" %}</h2>
    <p>{% include tr.html s="Real time chat about Stellarium can be had in the <a href='irc://irc.freenode.org/stellarium'>#stellarium</a> IRC channel on the <a href='http://freenode.net'>freenode</a> IRC network. Use your favorite IRC client to connect to <a href='irc://irc.freenode.org/stellarium'>chat.freenode.net</a> or try the <a href='http://webchat.freenode.net/?channels=stellarium&uio=MTE9MjQ255'>web-based interface</a>." %}</p>
    -->

    <h2>{% include tr.html s="supporters and friends" %}</h2>
    {% capture tmpstr %}
    {% include tr.html s="Stellarium is produced by the efforts of the developer team, with the help and support of the <a href='/%lang%/sponsors.html'>following people and organisations</a>" %}
    {% endcapture %}
    <p>{{ tmpstr | replace: '%lang%', lang }}.</p>
  </div>
</div>
