---
layout: default
title: Stellarium Astronomy Software
---
{% include i18n.html %}
{% include home.html %}

<div id="content">
  <div id="features" class="block">
    <h2>{% include tr.html s="features" %}</h2>

    <h3>{% include tr.html s="sky" %}</h3>
    <ul class="smalllist">
      <li>{% include tr.html s="default catalogue of over 600,000 stars" %}</li>
      <li>{% include tr.html s="extra catalogues with more than 177 million stars" %}</li>
      <li>{% include tr.html s="default catalogue of over 80,000 deep-sky objects" %}</li>
      <li>{% include tr.html s="extra catalogue with more than 1 million deep-sky objects" %}</li>
      <li>{% include tr.html s="asterisms and illustrations of the constellations" %}</li>
      <li>{% include tr.html s="constellations for 20+ different cultures" %}</li>
      <li>{% include tr.html s="images of nebulae (full Messier catalogue)" %}</li>
      <li>{% include tr.html s="realistic Milky Way" %}</li>
      <li>{% include tr.html s="very realistic atmosphere, sunrise and sunset" %}</li>
      <li>{% include tr.html s="the planets and their satellites" %}</li>
    </ul>

    <h3>{% include tr.html s="interface" %}</h3>
    <ul class="smalllist">
      <li>{% include tr.html s="a powerful zoom" %}</li>
      <li>{% include tr.html s="time control" %}</li>
      <li>{% include tr.html s="multilingual interface" %}</li>
      <li>{% include tr.html s="fisheye projection for planetarium domes" %}</li>
      <li>{% include tr.html s="spheric mirror projection for your own low-cost dome" %}</li>
      <li>{% include tr.html s="all new graphical interface and extensive keyboard control" %}</li>
      <li>{% include tr.html s="telescope control" %}</li>
    </ul>

    <h3>{% include tr.html s="visualisation" %}</h3>
    <ul class="smalllist">
      <li>{% include tr.html s="equatorial and azimuthal grids" %}</li>
      <li>{% include tr.html s="star twinkling" %}</li>
      <li>{% include tr.html s="shooting stars" %}</li>
      <li>{% include tr.html s="tails of comets" %}</li>
      <li>{% include tr.html s="iridium flares simulation" %}</li>
      <li>{% include tr.html s="eclipse simulation" %}</li>
      <li>{% include tr.html s="supernovae and novae simulation" %}</li>
      <li>{% include tr.html s="3D sceneries" %}</li>
      <li>{% include tr.html s="skinnable landscapes with spheric panorama projection" %}</li>
    </ul>

    <h3>{% include tr.html s="customizability" %}</h3>
    <ul class="smalllist">
      <li>{% include tr.html s="plugin system adding artifical satellites, ocular simulation, telescope control and more" %}</li>
      <li>{% include tr.html s="ability to add new solar system objects from online resources..." %}</li>
      <li>{% include tr.html s="add your own deep sky objects, landscapes, constellation images, scripts..." %}</li>
    </ul>
  </div>

  <div id="requirements" class="block">
    <h2>{% include tr.html s="news" %}</h2>
    <ul class="smalllist">
      {% assign sorted = site.posts | sort: 'date' %}
      {% assign sorted2 = sorted | reverse %}
      {% for post in sorted2 %}
        {% if forloop.index < 11 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>

    <h2>{% include tr.html s="system requirements" %}</h2>

    <h3>{% include tr.html s="minimal" %}</h3>
    <ul class="smalllist">
      <li>{% include tr.html s="Linux/Unix; Windows 7 and above; Mac OS X 10.12.0 and above" %}</li>
      <li>{% include tr.html s="3D graphics card which supports OpenGL 3.0 and GLSL 1.3 or OpenGL ES 2.0" %}</li>
      <li>{% include tr.html s="512 MiB RAM" %}</li>
      <li>{% include tr.html s="420 MiB on disk" %}</li>
      <li>{% include tr.html s="Keyboard" %}</li>
      <li>{% include tr.html s="Mouse, Touchpad or similar pointing device" %}</li>
    </ul>

    <h3>{% include tr.html s="recommended" %}</h3>
    <ul class="smalllist">
      <li>{% include tr.html s="Linux/Unix; Windows 7 and above; Mac OS X 10.12.0 and above" %}</li>
      <li>{% include tr.html s="3D graphics card which supports OpenGL 3.3 and above" %}</li>
      <li>{% include tr.html s="1 GiB RAM or more" %}</li>
      <li>{% include tr.html s="1.5 GiB on disk" %}</li>
      <li>{% include tr.html s="Keyboard" %}</li>
      <li>{% include tr.html s="Mouse, Touchpad or similar pointing device" %}</li>
    </ul>

    <h2>{% include tr.html s="developers" %}</h2>
    <p>
      {% include tr.html s="Project coordinator:" %} <a href="http://f4bien.blogspot.com/">Fabien Ch&eacute;reau</a><br/>
      {% include tr.html s="Graphic designer:" %} Johan Meuris, Mart&iacute;n Bernardi<br/>
      {% include tr.html s="Developer:" %} <a href="http://astro.altspu.ru/~aw/">Alexander Wolf</a>, <a href="https://blog.noctua-software.com/">Guillaume Ch&eacute;reau</a>, <a href="https://homepage.univie.ac.at/Georg.Zotti/">Georg Zotti</a>, Marcos Cardinot<br/>
      {% include tr.html s="Continuous Integration:" %} <a href="https://lambermont.dyndns.org/">Hans Lambermont</a><br/>
      {% include tr.html s="Tester:" %} Khalid AlAjaji<br/>
      <a href="https://github.com/Stellarium/stellarium/graphs/contributors">{% include tr.html s="and everyone else in the community" %}</a>.<br/>
    </p>

    <h2>{% include tr.html s="social media" %}</h2>
    <ul class="smalllist">
      <li><a href="https://twitter.com/StellariumDev">Twitter</a></li>
    </ul>
  </div>

  <div id="development" class="block">
    <h2>{% include tr.html s="collaborate" %}</h2>
    <p>{% include tr.html s="You can learn more about Stellarium, get support and help the project from these links" %}:</p>
    <ul class="largelist">
      <li><a href="https://sourceforge.net/p/stellarium/discussion/278769">{% include tr.html s="forum" %}</a></li>
      <li><a href="https://groups.google.com/group/stellarium">{% include tr.html s="mailing list" %}</a></li>
      <li><a href="{{ site.wiki_url }}/">{% include tr.html s="wiki" %}</a></li>
      <li><a href="{{ site.wiki_url }}/FAQ">{% include tr.html s="FAQ" %}</a></li>
      <li><a href="./scripts.html">{% include tr.html s="scripts" %}</a></li>
      <li><a href="./landscapes.html">{% include tr.html s="landscapes" %}</a></li>
      <li><a href="/{{ lang }}/docs.html">{% include tr.html s="developers documentation" %}</a></li>
      <li><a href="/doc/{{ site.series }}/scripting.html">{% include tr.html s="scripting" %}</a></li>
      <li><a href="https://www.transifex.com/stellarium/stellarium/">{% include tr.html s="translations" %}</a></li>
      <li><a href="https://github.com/Stellarium/stellarium">{% include tr.html s="get support, report bugs, request new features" %}</a></li>
      <li><a href="https://github.com/Stellarium/stellarium/releases">{% include tr.html s="all releases" %}</a>
      <li><a href="https://github.com/Stellarium/stellarium-data/releases/tag/weekly-snapshot">{% include tr.html s="weekly snapshots" %}</a>
    </ul>

    <h2>{% include tr.html s="acknowledgment" %}</h2>
    <p>{% include tr.html s="If the Stellarium planetarium was helpful for your research work, the following acknowledgment would be appreciated:" %}</p>
    <p><em>{% include tr.html s="This research has made use of the Stellarium planetarium" %}</em></p>
    <p>Zotti, G., Hoffmann, S. M., Wolf, A., Chéreau, F., & Chéreau, G. (2021). The Simulated Sky: Stellarium for Cultural Astronomy Research. Journal of Skyscape Archaeology, 6(2), 221–258. <a href='https://doi.org/10.1558/jsa.17822'>https://doi.org/10.1558/jsa.17822</a></p>
    <p>{% include tr.html s="Or you may <a href='/files/stellarium.bib'>download the BibTeX file of the paper</a> to create another citation format." %}</p>

    <h2>{% include tr.html s="git" %}</h2>
    <p>{% include tr.html s="The latest development snapshot of Stellarium is kept on github. If you want to compile development versions of Stellarium, this is the place to get the source code." %}</p>
    <ul class="largelist">
      <li><a href="https://github.com/Stellarium/stellarium">{% include tr.html s="browse GitHub" %}</a></li>
    </ul>
    
    <!--
    <h2>{% include tr.html s="irc" %}</h2>
    <p>{% include tr.html s="Real time chat about Stellarium can be had in the <a href='irc://irc.freenode.org/stellarium'>#stellarium</a> IRC channel on the <a href='http://freenode.net'>freenode</a> IRC network. Use your favorite IRC client to connect to <a href='irc://irc.freenode.org/stellarium'>chat.freenode.net</a> or try the <a href='http://webchat.freenode.net/?channels=stellarium&uio=MTE9MjQ255'>web-based interface</a>." %}</p>
    -->

    <h2>{% include tr.html s="supporters and friends" %}</h2>
    {% capture tmpstr %}
    {% include tr.html s="Stellarium is produced by the efforts of the developer team, with the help and support of the <a href='/%lang%/sponsors.html'>following people and organisations</a>" %}
    {% endcapture %}
    <p>{{ tmpstr | replace: '%lang%', lang }}.</p>
  </div>
</div>
