---
layout: default
title: Stellarium Landscapes
---
{% include i18n.html %}
{% include home.html %}

<div id="content">
  <div id="landscapes-intro" class="block">
    <h2>{% include tr.html s="User contributed landscapes (by continent)" %}</h2>
    <p>{% include tr.html s="We have landscapes for the seven continents (in the seven continent model) - all, including from Antarctica!" %}</p>
    <ul class="smalllist">
      <li><a href="./landscapes-interplanetary.html">{% include tr.html s="Interplanetary" %}</a></li>
      <li><a href="./landscapes-africa.html">{% include tr.html s="Africa" %}</a></li>
      <li><a href="./landscapes-asia.html">{% include tr.html s="Asia" %}</a></li>
      <li><a href="./landscapes-australasia.html">{% include tr.html s="Australasia" %}</a></li>
      <li><a href="./landscapes-europe.html">{% include tr.html s="Europe" %}</a></li>
      <li><a href="./landscapes-north-america.html">{% include tr.html s="North America" %}</a></li>
      <li><a href="./landscapes-south-america.html">{% include tr.html s="South America" %}</a></li>
      <li><a href="./landscapes-polar.html">{% include tr.html s="Polar regions" %}</a></li>
      <li><a href="./landscapes-special.html">{% include tr.html s="Special" %}</a></li>
    </ul>
  </div>

  <div id="landscapes-data" class="block">
    <h2>{% include tr.html s="How to install landscapes" %}</h2>
    <p>{% include tr.html s="After you have downloaded the .zip file for a landscape from this page, you need to install it in Stellarium." %}</p>
    <h3>{% include tr.html s="Automatic" %}</h3>
    <p><img src="/img/add-remove-landscapes-button.png" class="image-right">{% include tr.html s="If you have Stellarium 0.10.6 or later version, you can use the 'Add/remove landscapes' feature to install landscapes automatically:" %}</p>
    <ul class="stdlist">
        <li>{% include tr.html s="Open the 'Sky and viewing options' window by clicking on the appropriate button in the left button bar (or press the F4 key)." %}</li>
        <li>{% include tr.html s="The 'Add/remove landscapes' button is at the bottom of the 'Landscape' tab." %}</li>
        <li>{% include tr.html s="When you press it, the 'Add/remove landscapes' window will appear. It allows you to install .zip files containing landscapes. It also lists the user-installed landscapes and allows you to remove them." %}</li>
    </ul>
    <p>{% include tr.html s="Note that while this makes installing landscapes easier, it may also cause you to overlook what else is included in the ZIP archive." %}
       {% include tr.html s="Landscape packages created without this feature in mind may contain other files, such as alternative textures in different sizes." %}
       <img src="/img/add-remove-landscapes-window.png" class="image-center">
    </p>
    <h3>{% include tr.html s="Manual" %}</h3>
    <p>{% include tr.html s="If you are using an earlier version of Stellarium, you can follow this procedure to install a landscape package:" %}</p>
    <ul class="stdlist">
        <li>{% include tr.html s="Browse to your User Data Directory, which varies according to your operating system." %}</li>
        <li>{% include tr.html s="Create a sub-directory called <em>landscapes</em> in your user directory (if it doesn't exist)." %}</li>
        <li>{% include tr.html s="Unzip the landscape .zip file in the <em>landscapes</em> directory (if it's done right, a sub-directory should be created for each landscape)." %}</li>
    </ul>
  </div>
</div>
