---
layout: default
title: Stellarium Landscapes
---
{% include i18n.html %}
{% include home.html %}

<div id="content">
  <div id="landscapes-intro" class="block">
    <h2>{% include tr.html s="user contributed landscapes" %}</h2>
    <p>{% include tr.html s="We have landscapes for the seven continents (in the seven continent model) - all, including from Antarctica!" %}</p>
    <ul class="smalllist">
      <li><a href="./landscapes-interplanetary.html">{% include tr.html s="interplanetary" %}</a></li>
      <li><a href="./landscapes-africa.html">{% include tr.html s="Africa" %}</a></li>
      <li><a href="./landscapes-asia.html">{% include tr.html s="Asia" %}</a></li>
      <li><a href="./landscapes-australasia.html">{% include tr.html s="Australasia" %}</a></li>
      <li><a href="./landscapes-europe.html">{% include tr.html s="Europe" %}</a></li>
      <li><a href="./landscapes-north-america.html">{% include tr.html s="North America" %}</a></li>
      <li><a href="./landscapes-south-america.html">{% include tr.html s="South America" %}</a></li>
      <li><a href="./landscapes-polar.html">{% include tr.html s="polar regions" %}</a></li>
      <li><a href="./landscapes-special.html">{% include tr.html s="special" %}</a></li>
    </ul>
  </div>

  <div id="landscapes-data" class="block">
    <h2>{% include tr.html s="how to install landscapes" %}</h2>
    <p>{% include tr.html s="After you have downloaded the .zip file for a landscape from this page, you need to install it in Stellarium." %}</p>
    <h3>{% include tr.html s="automatic" %}</h3>
    <p><img src="/img/add-remove-landscapes-button.png" class="image-right">{% include tr.html s="If you have Stellarium 0.10.6 or later version, you can use the 'Add/remove landscapes' feature to install landscapes automatically:" %}</p>
    <ul class="stdlist">
        <li>{% include tr.html s="Open the 'Sky and viewing options' window by clicking on the appropriate button in the left button bar (or press the F4 key)." %}</li>
        <li>{% include tr.html s="The 'Add/remove landscapes' button is at the bottom of the 'Landscape' tab." %}</li>
        <li>{% include tr.html s="When you press it, the 'Add/remove landscapes' window will appear. It allows you to install .zip files containing landscapes. It also lists the user-installed landscapes and allows you to remove them." %}</li>
    </ul>
    <p>{% include tr.html s="Note that while this makes installing landscapes easier, it may also cause you to overlook what else is included in the ZIP archive." %}
       {% include tr.html s="Landscape packages created without this feature in mind may contain other files, such as alternative textures in different sizes." %}
       <img src="/img/add-remove-landscapes-window.png" class="image-center">
    </p>
    <h3>{% include tr.html s="manual" %}</h3>
    <p>{% include tr.html s="If you are using an earlier version of Stellarium, you can follow this procedure to install a landscape package:" %}</p>
    <ul class="stdlist">
        <li>{% include tr.html s="Browse to your User Data Directory, which varies according to your operating system." %}</li>
        <li>{% include tr.html s="Create a sub-directory called <em>landscapes</em> in your user directory (if it doesn't exist)." %}</li>
        <li>{% include tr.html s="Unzip the landscape .zip file in the <em>landscapes</em> directory (if it's done right, a sub-directory should be created for each landscape)." %}</li>
    </ul>
    <h2>{% include tr.html s="contributions" %}</h2>
    <p>{% include tr.html s="Please feel free to contribute your own custom landscapes here. Make thumbnails 200x114 pixels to fit with the rest of the page. Please include a location section in your landscape.ini file with the longitude, latitude, altitude and planet for the location of the landscape (see one of the pre-existing landscapes for an example)." %}</p>
    <p>{% include tr.html s="To find out more about how to create a landscape, see the Stellarium User Guide, and examine existing landscapes. If you are having problems, posting to the forums is a good way to get some advice." %}</p>
    <h3>{% include tr.html s="important note on image dimensions" %}</h3>
    <p><strong>{% include tr.html s="IMPORTANT: Make sure all textures have dimensions which are integer powers of 2, i.e. 256, 512, 1024, 2048, 4096, 8192, 16384, ... e.g. 4096 by 1024, 2048 by 2048 and so on." %}</strong></p>
    <p>{% include tr.html s="This is a limitation of OpenGL. Some video hardware will work OK with images with different image dimensions, but many will not display properly, suffer vastly reduced frame rates, and even crash the computer." %}</p>
    <p><strong>{% include tr.html s="Please make sure all contributed landscapes conform to these requirements, or your link may be removed." %}</strong></p>
    <p>{% include tr.html s="Be aware that many people's video hardware cannot handle very large textures. This is hardware and driver dependent. A typical maximum image size is 2048x2048 or 4096x4096." %}</p>
    <h3>{% include tr.html s="package contents" %}</h3>
    <p>{% include tr.html s="Please package your landscape in a .zip file with all files inside a directory in the .zip file. This should be unique to your landscape, and it would be nice it it was all lower-case with no spaces." %}</p>
    <p>{% include tr.html s="You should also include a readme.txt file which describes the landscape and specifies any usage restrictions or licensing terms for the images used in the landscape." %}</p>
    <h3>{% include tr.html s="licensing" %}</h3>
    <p>{% include tr.html s="Before you distribute images as part of a Stellarium landscape, please ensure you are legally entitled to - you must be the copyright holder for the images, or be able to distribute them for use with Stellarium under the terms of some agreement with the copyright holder (e.g. Creative Commons licensed images found on the web)." %}</p>
    <p>{% include tr.html s="It is important to explicitly state what use may be made of images for your landscape. This should be done in the readme.txt file inside the .zip file." %}</p>
    <p>{% include tr.html s="We recommend an open source license compatible with Stellarium itself (i.e. the GNU GPL), or one of the Creative Commons licenses." %}</p>
    <h3>{% include tr.html s="file encoding" %}</h3>
    <p>{% include tr.html s="The landscape.ini and readme.txt files should be UTF-8 encoded text or plain ASCII. It's probably a good idea to adopt the Windows line ending encoding, (i.e. CR LF). Both Windows and *nix style line ending encoding should work OK in Stellarium, but Windows users will have an ugly time reading the readme.txt if it uses *nix-style newlines." %}</p>
    <h3>{% include tr.html s="need hosting?" %}</h3>
    <p>{% include tr.html s="If you have a landscape you would like to share but have no web-space to put it, email to any Stellarium developers and we'll put it on our site." %}</p>
  </div>
</div>
