---
layout: default
title: Stellarium screenshot gallery
---
{% include i18n.html %}
<script defer type="text/javascript" src="/js/showpic.js"></script>
<div id="home">
  <div id="showcase">
    <a href="/img/screenshots/0.10-new-interface.jpg" title='{% include tr.html s="Since version 0.10 Stellarium has new graphical user interface. The vertical bar links to windows, the horizontal bar shows toggle buttons, just like it used to." %}'><img src="/img/screenshots/0.10-new-interface.png" width="100" height="75" border="0" class="thumb"></a>
    <a href="/img/screenshots/0.10-location-full.jpg" title='{% include tr.html s="The location window.  The first thing you have to do is set your observing position and save it. The landscape is a panorama from the ESO facilities in Garching, near Munich, Germany. ESO is the European Organisation for Astronomical Research in the Southern Hemisphere." %}'><img src="/img/screenshots/0.10-location-full.jpg"  width="100" height="75" border="0" class="thumb"></a>
    <a href="/img/screenshots/0.10-stars.jpg" title='{% include tr.html s="The sun is down, the stars are visible.  Since version 0.10.0 Stellarium has extensive star catalogs.  600,000 are included by default, but you can even download extra catalogues to see up to 210 million stars. This work was done by our team member Johannes." %}'><img src="/img/screenshots/0.10-stars.jpg" width="100" height="75" border="0" class="thumb"></a>
    <a href="/img/screenshots/0.10-constellations.jpg" title='{% include tr.html s="Full sky view of the constellations, their boundaries, the Milky Way." %}'><img src="/img/screenshots/0.10-constellations.jpg" width="100" height="75" border="0" class="thumb"></a>
    <a href="/img/screenshots/0.10-shooting-star.jpg" title='{% include tr.html s="A shooting star flashes past the Jupiter. You can select different intensities in the View window." %}'><img src="/img/screenshots/0.10-shooting-star.png" width="100" height="75" border="0" class="thumb"></a>
    <a href="/img/screenshots/0.10-constellation-art-on.jpg" title='{% include tr.html s="Constellation art turned on." %}'><img src="/img/screenshots/0.10-constellation-art-on.jpg" width="100" height="75" border="0" class="thumb"></a>
    <a href="/img/screenshots/0.10-starlore-window.jpg" title='{% include tr.html s="The Starlore tab in the View window.  Choose between different cultures and see how they looked at the stars." %}'><img src="/img/screenshots/0.10-starlore-window.png" width="100" height="75" border="0" class="thumb"></a>
    <a href="/img/screenshots/0.10-from-mars.jpg" title='{% include tr.html s="Selecting a planet and pressing Ctrl+G flies you there.  Here, we see Mars from a rover&#39;s viewpoint." %}'><img src="/img/screenshots/0.10-from-mars.png" width="100" height="75" border="0" class="thumb"></a>
    <a href="/img/screenshots/0.10-planets.jpg" title='{% include tr.html s="The dance of the planets above ESO headquarters, near Munich." %}'><img src="/img/screenshots/0.10-planets.png" width="100" height="75" border="0" class="thumb"></a>
    <a href="/img/screenshots/0.10-orion-nebula.jpg" title='{% include tr.html s="The great nebula in Orion. Press N to bring up the nebula labels. Also shown are constellation lines, press C to show or hide them." %}'><img src="/img/screenshots/0.10-orion-nebula.png" width="100" height="75" border="0" class="thumb"></a>
    <a href="/img/screenshots/0.10-light-pollution.jpg" title='{% include tr.html s="See how different amounts of light pollution make the universe invisible." %}'><img src="/img/screenshots/0.10-light-pollution.png" width="100" height="75" border="0" class="thumb"></a>
    <a href="/img/screenshots/0.10-search.jpg" title='{% include tr.html s="Search for a planet, nebula, constellation or a specific star. Press enter, and Stellarium centers on the object." %}'><img src="/img/screenshots/0.10-search.png" width="100" height="75" border="0" class="thumb"></a>
  </div>
</div>
<div id="content">
  <div id="fullsize">
    <p id="caption">{% include tr.html s="Stellarium screenshot gallery" %}</p>
    <img src="/img/screenshots/placeholder.png" alt='{% include tr.html s="Please select an image." %}' id="placeholder" />
  </div>
</div>
