---
layout: default
title: Stellarium Sky Cultures
---
{% include i18n.html %}
{% include home.html %}

<div id="content">
  <div id="skycultures-intro" class="block">
    <h2>{% include tr.html s="user contributed sky cultures" %}</h2>
    <p>{% include tr.html s="We have few user contributed sky cultures which are not included into default package for some reasons." %}</p>
    <ul class="smalllist">
      <li><strong>{% include tr.html s="list of sky cultures" %}</strong></li>
    </ul>
    <ul class="smalllist">
      <li><a href="./skycultures.html"><em>{% include tr.html s="sky cultures" %}</em></a></li>
    </ul>
  </div>

  <div id="skycultures-data" class="block">
    <h2>{% include tr.html s="sky cultures" %}: 
        {% include tr.html s="list" %}</h2>

    {% for item in site.skycultures %}
    <table class="guidetable" width="590" style="margin: 5px 0;">
    <tr>
      <td rowspan="3" width="300" align="center" valign="top">{% if item.image_url %}<img src="{{ item.image_url }}">{% else %}Screenshot not available{% endif %}</td>
      <td colspan="2"><a href="{{ item.skyculture_url }}">{{ item.title }}</a></td>
      <td align="center" width="60">{% if item.compat %}{{ item.compat }}{% else %}N/A{% endif %}</td>
    </tr>
    <tr>
      <td width="200">{{ item.author }}</td>
      <td align="center" width="130">{% if item.license %}{{ item.license }}{% else %}N/A{% endif %}</td>
      <td align="center" width="60">{% if item.classification %}{{ item.classification }}{% else %}personal{% endif %}</td>
    </tr>
    <tr>
      <td colspan="3">{% if item.classification %}<a href="{{ item.description_source }}">A full description of sky culture.</a>{% else %}{{ item.content }}{% endif %}</td>
    </tr>
    </table>
    {% endfor %}

  </div>
</div>
