---
layout: default
title: Supporters and friends of Stellarium
---
{% include i18n.html %}
<div id="home">
  <div id="sponsors-describe" class="block">
    <p>{% include tr.html s="Stellarium is produced by the efforts of the developer team, with the help and support of the following people and organisations:" %}</p>
  </div>
</div>

<div id="content">
  <div id="stelsponsors" class="block">
    <h2>{% include tr.html s="sponsors" %}</h2>
    <ul>
      <li>{% include tr.html s="Sourceforge, which has pushed many terabytes of data for Stellarium during the life of the project." %}</li>
      <li>{% include tr.html s="Launchpad for hosting the project trackers." %}</li>
      <li>{% include tr.html s="Github for hosting the project trackers." %}</li>
      <li>{% include tr.html s="Transifex for hosting the project translation system." %}</li>
    </ul>
  </div>

  <div id="community" class="block">
    <h2>{% include tr.html s="community" %}</h2>
    <p>{% include tr.html s="Special thanks go out to all members of the Stellarium user community." %}</p>
    <ul>
      <li>{% include tr.html s="Program translators" %}</li>
      <li>{% include tr.html s="User guide translators" %}</li>
      <li>{% include tr.html s="Landscape authors" %}</li>
      <li>{% include tr.html s="Wiki authors" %}</li>
      <li>{% include tr.html s="Testers and bug reporters" %}</li>
      <li>{% include tr.html s="Donators" %}</li>
    </ul>
  </div>

  <div id="friends" class="block">
    <h2>{% include tr.html s="former developers" %}</h2>
    <p>{% include tr.html s="Several people have made significant contributions but are no longer active. Their work has made a big difference to the project" %}:</p>
    <ul>
      <li>Matthew Gates ({% include tr.html s="doc author/developer" %})</li>
      <li>Johannes Gajdosik ({% include tr.html s="developer" %})</li>
      <li>Rob Spearman ({% include tr.html s="developer" %})</li>
      <li><a href="http://badlyhonedbytes.wordpress.com/">Bogdan Marinov</a> ({% include tr.html s="developer" %})</li>
      <li><a href="mailto:treaves%20(at)%20silverfieldstech.com">Timothy Reaves</a> ({% include tr.html s="developer" %})</li>
      <li>Florian Schaukowitsch' ({% include tr.html s="developer" %})</li>
      <li>Ferdinand Majerech ({% include tr.html s="developer" %})</li>
      <li>Jörg Müller ({% include tr.html s="developer" %})</li>
      <li>Barry Gerdes ({% include tr.html s="tester" %})</li>
    </ul>

    <h2>{% include tr.html s="friends" %}</h2>
    <ul>
      <li><a href="https://www.myonlinetherapie.com/" target="_blank" >My Online Therapie</a></li>
      <li><a href="https://www.lxory.com/" target="_blank" >LXORY</a></li>
      <li><a href="http://www.sarahbeth.de/" target="_blank" >Sarah Beth Heilpraktikerin</a></li>
      <li><a href="http://obviouslycloe.com/" target="_blank" >Portfolio of Cloe (working on new constellation art)</a></li>
    </ul>
  </div>
</div>
